<ion-header>  
  <ion-toolbar color="primary" routerLink="/home">
    <ion-row >
      <ion-col size="2"> 
        <ion-icon class="return" name="arrow-back"  ></ion-icon>  </ion-col>

      <ion-col align="center" size="8">
     
     FRACCIONAMIENTO
      
      </ion-col>
      <ion-col size="2" >
          <img src="\assets\icons\imagenlogo-Avatar.png">

      </ion-col>          
    </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  align="center" class="background">
  <ion-content fullscreen>
    <ion-card>
      <img src="\assets\icons\log.png" />
      <ion-card-header >
        <ion-card-title > {{post.nfraccionamiento}} </ion-card-title>
        <ion-card-subtitle> {{post.fecha}} </ion-card-subtitle>
        <ion-card-subtitle> status</ion-card-subtitle>
        <ion-card-subtitle> {{post.cuota}} </ion-card-subtitle>

      </ion-card-header>      
    </ion-card>
    <ion-segment color="success" (ionChange)="segmentChanged($event)" value="javascript">
      <ion-segment-button value="z">
        <ion-label color="primary" >Acceso</ion-label>
      </ion-segment-button>
      <ion-segment-button value="javascript">
        <ion-label color="primary" >completo</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment color="primary" (ionChange)="segmentChanged($event)" value="javascript">
      <ion-segment-button value="python">
        <ion-label color="success" >Activar</ion-label>
      </ion-segment-button>
      <ion-segment-button value="javascript">
        <ion-label color="success" >Desactivar</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-content>
 

</ion-content>
