ion-content.background{
    --ion-background-color: #16171a;
  }

  ion-label.color{
    color: whitesmoke;
  }

  ion-card-title{
    color: whitesmoke;
  }

  .return{
    color: whitesmoke;
    font-size: 35px;
  }

  ion-toolbar{    
    font-size: 20px;
  }