<ion-header>  
  <ion-toolbar color="primary" routerLink="/home">
    <ion-row >
      <ion-col size="2"> 
        <ion-icon class="return" name="arrow-back"  ></ion-icon>  </ion-col>

      <ion-col align="center" size="8">
     
     FRACCIONAMIENTO
      
      </ion-col>
      <ion-col size="2" >
          <img src="\assets\icons\imagenlogo-Avatar.png">

      </ion-col>          
    </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  align="center" class="background">
  <ion-content fullscreen>
    <ion-card>
      <img src="{{ post.image }}" />
      <ion-card-header >
        <ion-card-title > {{post.nfraccionamiento}} </ion-card-title>
        <ion-input type="text" [(ngModel)]="nfraccionamiento" ></ion-input>
        <ion-card-subtitle> status</ion-card-subtitle>
        <ion-card-subtitle> {{post.cuota}} </ion-card-subtitle>

      </ion-card-header>      
    </ion-card>
    
    
    <ion-item>
      <ion-toggle slot="start" [(ngModel)]="post.tipo" color="primary"></ion-toggle>
      <ion-label class="ion-text-wrap" style="color: whitesmoke;">Status del Coto (Activo/Desactivo)</ion-label>
     
    </ion-item>

    <ion-button fill="outline" color="secondary" (click)="updatePost(post)">Actualizar</ion-button>


  </ion-content>
 

</ion-content>
