<ion-header [translucent]="true">
  <ion-toolbar  class="ion-text-center" color="primary" > 
    <img slot="end" class="sis" src="\assets\icons\lo.png">

        ROOT
  </ion-toolbar>
</ion-header>
<ion-content  [fullscreen]="true" class="background" >
  

  

<ion-card color="gray" align="center" mode="ios">
  <br>
  <img class="banner" src="\assets\icon\corona.png">
  <br>
  <br>
<ion-grid>
  <ion-row class="top-10">
    <ion-col size="6">
      <ion-button id="puto" name="acceso"
                   class="ion-padding"
                   size="medium"
                   expand="block"
                   [routerLink]="['/accesos']" 
                   class="tamaño"
                   >                   
                   <div align="center">
                    <img src="\assets\icons\entrar.png">
                    <br>
                    <label class="color" for="">Accesos</label>
                   </div>
                            
       </ion-button>
  </ion-col>

    <ion-col size="6">
      <ion-button name="mensajes"
                  class="ion-padding"
                  size="medium"
                  expand="block"
                  [routerLink]="['/activar-desactivar']" 
                  class="tamaño"
                   >
                  
                  <div align="center">
                    <img src="\assets\icon\cambiar.png">
                    <br>
                    <label for="">Activar/Desactivar</label>
                   </div>
    </ion-button>
    </ion-col>

    
     
</ion-row>
</ion-grid>
</ion-card>
</ion-content>
