ion-content.background{
    --ion-background-color: #16171a;
  }

  ion-label.color{
    color: whitesmoke;
  }

  ion-toolbar{
    font-size: 23px;
  }

  ion-item.line{
    border-bottom: solid;
    color: green;
  }