<ion-header>  
  <ion-toolbar color="primary" routerLink="/home">
    <ion-row >
      <ion-col size="1"> 
        <ion-icon class="return" name="arrow-back"  ></ion-icon>  </ion-col>

      <ion-col align="center" size="9">
     
     ACCESOS
      
      </ion-col>
      <ion-col size="2" >
          <img src="\assets\icons\imagenlogo-Avatar.png">

      </ion-col>          
    </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content [fillscreen]="true"  align="center" class="background">

</ion-content>
