<ion-header>
  <ion-toolbar class="ion-text-center" color="primary" routerLink="/home">
    <img slot="end" class="sis" src="\assets\icons\lo.png">
    <ion-icon slot="start" size="large" class="return" name="arrow-back"></ion-icon>
    ACCESOS

  </ion-toolbar>
</ion-header>

<ion-content class="background">


  <ion-card>
    <ion-label style="color: red;">Imagen de Logo*</ion-label>
    <button id="añadir"><input type="file" (change)="loadImageFromDevice($event)" id="file-input" accept="image/png, image/jpeg" style="font-size: x-small;">
      <img src="../../assets/icons/im.png" id="icon2"/></button>

    <ion-item>
      <ion-label class="color" position="floating"> Nombre del Fraccionamiento</ion-label>
      <ion-input type="text" [(ngModel)]="nfraccionamiento" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="color">Tipo de Registro</ion-label>
      <ion-select  [(ngModel)]="tipo" required class="color" placeholder="Registros">
        <ion-select-option value="completo">Completo</ion-select-option>
        <ion-select-option value="Acceso">Acceso</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label  class="color" position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="users"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  class="color" position="floating">E-mail</ion-label>
      <ion-input  [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color" position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="color" position="floating">Cuota</ion-label>
      <ion-input [(ngModel)]="cuota"></ion-input>
    </ion-item>
    <ion-item class="color">
      <ion-label class="color" position="floating">Fecha de Creacion</ion-label>
      <ion-datetime  class="color" displayFormat="MM-DD-YYYY" [(ngModel)]="fechacreacion"  >
      </ion-datetime>
    </ion-item>
  </ion-card>

  <ion-card>
  <ion-button color="secondary" 
                fill="outline" 
                size="medium" 
                class="ion-text-wrap"
                (click)="onSubmitRegistro()">
                <ion-icon name="pencil" color="warning" size="large" slot="start"></ion-icon>
                Registrar</ion-button>
</ion-card>
</ion-content>