ion-content.background{
    --ion-background-color: #16171a;
  }

  img.sis{
    width: 45px;
  }

  ion-input{
    color: whitesmoke;
  }

  ion-label.color{
    color: whitesmoke;
  }

  ion-button.sis{
    border-bottom: medium;
    color: whitesmoke;
    --background: transparent ;
  }

  ion-select.color{
    color: whitesmoke;
  }

  ion-item.color{
    color: black;
  }

  #añadir{
    width: 20%; 
    border: 5px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
  }

  #imagen{
    width: 8%;
  }
  
  #icon2{
    width: 50px;
  }

  input#file-input{
  
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  ion-button.text{
    color: rgb(48, 210, 216);
    --background: transparent;
  }