ion-content.background{
    --ion-background-color: #16171a;
  }

  ion-label.color{
    color: whitesmoke;
  }

  .subtitulo{
    color: black;
  }

  ion-toolbar{
    font-size: 25px;
  }

  .sis{
    font-size: 25px;
  }