<ion-header>  
  <ion-toolbar color="primary" routerLink="/home">
    <ion-row >
      <ion-col size="1"> 
        <ion-icon class="return" name="arrow-back"  ></ion-icon>  </ion-col>

      <ion-col align="center" size="9">
     
     BALANCE
      
      </ion-col>
      <ion-col size="2" >
          <img src="\assets\icons\imagenlogo-Avatar.png">

      </ion-col>          
    </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content class="background" >
  <br>
  <ion-item color="dark">
    <ion-label >Filtro por Fecha</ion-label>
    <ion-datetime value="{{fecha | date: 'yyyy-MM-dd'}}" min="1990-02" max="2030"></ion-datetime>
  </ion-item>
  <br>
  <ion-item-group >
    <ion-item-divider color="success">
      <ion-label class="subtitulo">INGRESOS</ion-label>
    </ion-item-divider>
<ion-card>
  <ion-item>
    <ion-label class="color">MANTENIMIENTO # DE PAGOS MONTO</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="color">AREAS COMUNES # DE PAGOS MONTO</ion-label>
  </ion-item>
</ion-card> 
</ion-item-group>


  <br>
  <ion-item-group >
    <ion-item-divider color="success">
      <ion-label class="subtitulo">GASTOS</ion-label>
    </ion-item-divider>
<ion-card>
  <ion-item><ion-label>
    <p>FECHA</p><p>RUBRO</p><p>CONCEPTO</p><p>MONTO</p></ion-label>
  </ion-item>
  <ion-item >
    <p></p>
  </ion-item>
</ion-card> 
</ion-item-group>

<ion-card>
<ion-row>
  <ion-col >
    <p>SALDO DEL MES</p>
  </ion-col>
  <ion-col size="5">
    <ion-button fill="outline"><ion-icon name="logo-usd" color="success" size="large"></ion-icon>
                <ion-label color="light">SALDO</ion-label></ion-button>
  </ion-col>
</ion-row>  
</ion-card>

<ion-card>
  <ion-row>
    <ion-col >
      <p>SALDO EN CUENTA</p>
    </ion-col>
    <ion-col size="5">
      <ion-button fill="outline"><ion-icon name="logo-usd" color="success" size="large"></ion-icon>
                  <ion-label color="light">SALDO</ion-label></ion-button>
    </ion-col>
  </ion-row>  
  </ion-card>

</ion-content>
