ion-content.background{
    --ion-background-color: #16171a;
  }

  ion-label.color{
      color: whitesmoke;
  }

  ion-input{
      color: whitesmoke;
  }

  ion-toolbar{
    color: black;
    font-size: 25px;
  }
  
  .return{
    color: whitesmoke;
    font-size: 25px;
  }