
.top{
  margin: 20px;
}

ion-button{
  height:75px;
 // width: 400px;
 outline-color: dodgerblue;

}
ion-content.background{
  --ion-background-color: #16171a;
}
ion-label{
  color: #f4f5f8;
}

ion-content.background{
  --ion-background-color: #000000 ;
}

ion-button{
  width: 100%;
  
}

ion-toolbar.background{
  --ion-background-color: #1d90fb;
}

img{
  width: 35px;  
  
}

label{
  font-size:15px;
  color: whitesmoke;
}

ion-toolbar.textotilte{
  font-size: 15px;
}

.tor{
  font-size: 15px;
}

ion-toolbar{
  color: black;
  font-size: 25px;
}

.return{
  color: whitesmoke;
  font-size: 25px;
}

.avatar{
  width: 100%;
}