ion-content.background{
    --ion-background-color: #16171a;
  }
  
  .color{
      color: whitesmoke;
  }
  
  
  ion-icon {
    align-content: right;
    font-size: 300%; 
  }
  
  ion-toolbar{
    color: black;
    font-size: 25px;
  }
  
  .return{
    color: whitesmoke;
    font-size: 25px;
  }