<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-item>
    <ion-label class="color" position="floating">e-mail</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="color" position="floating">passwoed</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="success" expand="full" 
  (click)="register(user)">Registrar Usuario</ion-button>

</ion-content>
 